doctype html

html

	head
		
		//-		include includes/_analytics.html

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
			
		script(src="text/javascript",href="https://use.typekit.net/rxi7wly.js")
		link(href="css/styles.css", rel="stylesheet")
		//- link(rel="apple-touch-icon",href="img/apple-touch-icon.png")
		//- link(rel="icon",type="image/png",sizes="32x32",href="img/favicon-32x32.png")
		//- link(rel="icon",type="image/png",sizes="16x16",href="img/favicon-16x16.png")

		title adopt a GREAT OLD ONE
		
		//- meta(content="Description",name="description")
		//- meta(content="Open Graph title",property="og:title")
		//- meta(content="Open graph description.",property="og:description")
		//- meta(content="open graph image URL",property="og:image")
		//- meta(content="summary",name="twitter:card")
	  

	body
		
		.text-block
			p
				span.name
					| .
				span.honorific
					| .

		script(src="js/jquery-3.6.0.min.js")
		script(src="js/extrascripts.js")
